{% extends 'bootstrap/base.html'%}

<!-- Navbar block  -->
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='css/font_awesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/framework.css')}}">
    <script src="{{url_for('static',filename='js/jquery.js')}}"></script>



{% endblock %}
<body class="body_wrapper">
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}
</body>
